#cloud-config
## See examples: https://github.com/canonical/cloud-init/tree/main/doc/examples
hostname: ${hostname}
locale: en_US.UTF-8

ssh_pwauth: false
users:
  - default
  - name: clouduser
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ${pubkey}
  - name: k8suser
    shell: /bin/bash

write_files:
  - encoding: b64
    content: bmV0LmlwdjQudGNwX3N5bmNvb2tpZXM9MQpuZXQuaXB2NC5pcF9mb3J3YXJkPTEKbmV0LmlwdjYuY29uZi5hbGwZm9yd2FyZGluZz0xCm5ldC5pcHY0LmNvbmYuYWxsLnNlbmRfcmVkaXJlY3RzID0gMApuZXQuaXB2NC5jb25mLmFs>
    owner: root:root
    path: /etc/sysctl.d/40-network.conf
    permissions: '0644'
  - encoding: b64
    content: |
      overlay
      br_netfilter
    owner: root:root
    path: /etc/modules-load.d/k8s.conf
    permissions: '0644'
  - encoding: b64
    content: |
      KUBELET_EXTRA_ARGS=--cgroup-driver=cgroupfs
    owner: root:root
    path: /etc/default/kubelet
    permissions: '0644'


package_upgrade: true
package_reboot_if_required: true
package_update: true
packages:
  ## Apt repo misc
  - software-properties-common
  - apt-transport-https
  - ca-certificates
  - gnupg
  ## Tools
  - curl
  - wget
  - htop
  - git
  - jq
  - net-tools

runcmd:
  - swapoff -a
  - modprobe overlay -v
  - modprobe br_netfilter -v
  - curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key | sudo gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
  - curl -fsSL https://download.docker.com/linux/debian/gpg -o /etc/apt/keyrings/docker.asc

apt:
  sources:
    kubernetes:
      source: 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /'
    docker:
      source: 'deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian bookworm stable'
